<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-2" style="margin: 0 2em;">

    <!--    <a class="my-0 mr-md-auto" id="app_name" routerLink=""><img id="logo_image" src="assets/Logo.png">SCERTIF</a>-->
    <!--    <nav class="my-2 my-md-0 mr-md-3">-->

    <!--      <a class="p-2" routerLink="/" *ngIf="unAuth()">HOME</a>-->
    <!--      <a class="p-2" (click)="onExams()">EXAMS</a>-->
    <!--      <a class="p-2" routerLink="/sign-in" *ngIf="unAuth()">LOGIN</a>-->
    <!--      <a class="p-2" routerLink="/sign-up" *ngIf="unAuth()">SIGN UP</a>-->
    <!--      <a class="p-2" *ngIf="connected" routerLink="/chat">CHAT</a>-->
    <!--      <a class="p-2" *ngIf="connected" (click)="onLogout()">LOGOUT</a>-->
    <!--    </nav>-->
  </div>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-9">
        <div class="text-center" style="margin-top: 5em" *ngIf="loading">
          <div class="spinner-border text-secondary" role="status" style="height: 3em; width: 3em">
          </div>
        </div>
        <div *ngIf="!loading">
          <div class="card text-dark bg-light mb-3 text-center" *ngIf="!showSurvey && !theEnd">
            <div class="card-header">
              <p class="card-text">Bienvenue</p>
            </div>
            <div class="card-body custom-choices-structure">
              <div class="input-group custom-width">
                <input type="text" class="form-control" placeholder="Nom" aria-label="Nom" [(ngModel)]="name">
              </div>
              <div class="input-group custom-width">
                <input type="text" class="form-control" placeholder="Age" aria-label="Age" [(ngModel)]="age">
              </div>
              <button type="button" class="btn custom-width main-color" [disabled]="name.length === 0 || (+age < 18 || +age > 100)" (click)="startSurvey()">Commencer</button>
            </div>
          </div>

          <div *ngIf="showSurvey">
            <app-question *ngFor="let question of questions | paginate: { itemsPerPage: 1, currentPage: p }"
                          [question]="question"
                          [pageNumber]="p"
                          (selectedAnswer)="addAnswer($event, p - 1)"
                          (nextPage)="goToNext($event)">
            </app-question>
          </div>

          <div class="card text-dark bg-light mb-3 text-center" *ngIf="theEnd">
            <div class="card-header">
              <p class="card-text">Merci beaucoup!</p>
            </div>
            <div class="card-body custom-choices-structure">
              <p class="card-text">On vous remercie infiniment pour votre temps.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</main>
